#tabuleiro{
	padding-top: 30px;
}

#pontuacao{
	margin-top: 30px;
	margin-left: 20px;
	padding-top: 10px;
	height: 600px;
  	text-align: left;
  	font-style: italic;
  	font-size: smaller;
  	text-indent: 0;
  	border: thin silver solid;
}

#info{
	padding-left: 10px;
}

.mostrador{
	padding-left: 10px;
}

.espaco{
	padding-top: 100px;
	padding-bottom: 100px;
}